.DS_Store
buildlog.txt
alpine-base-php-fpm/*/Dockerfile
alpine-elasticsearch/2/Dockerfile
alpine-filebeat/Dockerfile
alpine-logspout-logstash/Dockerfile
alpine-php-builder/*/Dockerfile
alpine-php-fpm-drupal7/*/Dockerfile
alpine-php-fpm-drupal7-*/*/Dockerfile
alpine-php-fpm-drupal8/*/Dockerfile
alpine-solr/*/Dockerfile
alpine-unified-builder/*/Dockerfile
debian-elk/*/Dockerfile
