{
	# debug
	# local_certs
	log {
		output file /logs/main.log
		level WARN
		format json {
			time_format iso8601
		}
	}
}

import conf.d/*
import http.d/*

:80 {
	import logs access.log
	header Content-Type "text/html; charset=utf-8"
	respond "Hello from Caddy."
}
